*{box-sizing: border-box;}
body{
  font-family: 'Rubik','Nanum Gothic Coding', sans-serif, monospace;
  color: white;
  background-color: black;
  -ms-overflow-style: none;
}
::-webkit-scrollbar{
  display: none;
}
.wrapper{
  margin: 0 auto;
  padding-left:5%;
}
.section {
  height: 100vh;
}
.port-box{
  height: 100vh;
}
/* 1 column size : 6.5625% gap: 20px */

/* Text style */
.main-title{
font-size: 4.5rem;
text-shadow: #ddd 5px 5px 0.1em,#ddd 0 0 3px;
}
.sub-title{
  font-size: 1.875rem;
  font-weight: 600;
}
.main-text{
  font-size: 1.5rem;line-height: 1.25;
} 
.sub-text{
  font-size: 1.125rem; line-height: 1.4;
}

/* Underline */
.underline{
  display: block;
  height: 3px;
  width: 300px;
  background-color: #ddd;
  box-shadow: #ddd 5px 5px 0.1em,#ddd 0 0 3px;
  margin: 20px 0;
}

/* Button */
.btn{
  width: 126px;
  height: 54px;
  border-radius: 50px;
  background: #ddd;
  box-shadow:  20px 20px 60px #bcbcbc, -20px -20px 60px #fefefe;
  color: black;
  transition: 0.5s;
}
.btn:hover{
  background: black;
  color: white;
}

/* Intro section */
#intro{
  background: no-repeat center/ 75% 62.5% url(../images/intro-background.jpg);
  display: flex;
  align-items: center;
}
#intro .intro-text{
  margin-left:13.125%;
}
.intro-text p{
  font-size: 2.25rem;
  text-shadow: #ddd 3px 3px 0.1em,#ddd 0 0 3px;
}

/* Side-navigation */
.side-nav{
  display: none;
  width: 11.5625%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background: black no-repeat center / 100% url(../images/nav-background.jpg);
  transition: 0.3s;
}
.side-nav.show{
  display: block;
}
.side-nav-bar{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top:5%;
  height: 70vh;
}
.side-nav-bar li{
  text-align: center;
  width: 100%;
}
.side-nav-bar a{
  color: white;
  font-size: 2.5rem;
  text-shadow: #ddd 3px 3px 0.1em,#ddd 0 0 3px;
}
.side-nav-bar li:hover a{
  text-decoration: underline;
}

/* About */
#about{
 height: 100vh;
}