*{box-sizing: border-box;}
body{
  font-family: 'Rubik','Nanum Gothic Coding', sans-serif, monospace;
  color: white;
  background-color: black;
  -ms-overflow-style: none;
}
::-webkit-scrollbar{
  display: none;
}
.wrapper{
  margin: 0 auto;
  padding-left:5%;
}
.section {
  height: 100%;
  min-height: 100vh;
  margin-bottom: 5%;
}

.port-box{
  height: 100vh;
}
/* 1 column size : 6.5625% gap: 20px */

/* Text style */
.main-title{
font-size: 3rem;
text-shadow: #ddd 5px 5px 0.1em,#ddd 0 0 3px;
}
.sub-title{
  font-size: 1.5rem;
  font-weight: 600;
}
.main-text{
  font-size: 1.125rem;line-height: 1.25;
  color: rgba(255, 255, 255, 0.8);
}
.main-text02{
  font-size: 1.875rem;line-height: 1.25;
} 
.sub-text{
  font-size: 0.8rem; line-height: 1.4;
  color: rgba(255, 255, 255, 0.6);
}
.sub-text02{
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.6);
}
/* Underline */
.underline{
  display: block;
  height: 3px;
  width: 300px;
  background-color: #ddd;
  box-shadow: #ddd 2px 2px 3px,#ddd 0 0 3px;
  margin: 20px 0;
}

/* Button */
.btn{
  width: 126px;
  height: 54px;
  background: black;
  box-shadow:  2px 2px 8px #bcbcbc, -2px -2px 8px #fefefe;
  color: white;
  transition: 0.5s;
}
.btn:hover{
  background: white;
  color: black;
}

/* ------------------------------------------------------------------- */

/* Intro section */
#intro{
  height: 100vh;
  background: no-repeat center/ 75% 62.5% url(../images/intro-background.jpg);
  display: flex;
  align-items: center;
}
#intro .intro-text{
  margin-left:13.125%;
}
.intro-text .main-title{
  font-size: 4.5rem;
}
.intro-text p{
  font-size: 2.25rem;
  text-shadow: #ddd 3px 3px 0.1em,#ddd 0 0 3px;
}

/* Side-navigation */
.side-nav{
  overflow: hidden;
  width: 11.5625%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background: black no-repeat center / 100% url(../images/nav-background02.jpg); 
  visibility: hidden;
}
/* side-nav effect */
.show{
  animation-name: shownav;
  animation-duration: 1s;
  visibility: visible; 
}

@keyframes shownav{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.side-nav-bar{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top:5%;
  height: 70vh;
}
.side-nav-bar li{
  text-align: center;
  width: 100%;
}
.side-nav-bar a{
  color: white;
  font-size: 2.5rem;
  text-shadow: #1f1f1f 3px 3px 0.2em,#3e3e3e -3px -3px 0.2em;
}
.side-nav-bar li:hover a{
  text-decoration: underline;
}

/* ------------------------------------------------------------------- */

/* About */
#about{
  height: 100vh;
}
#about .about-contents{
  display: flex;
  flex-flow: column wrap;
  height: 100%;
}

.myintro{
  width: 26.25%;
  padding-bottom: 128px;
}
.myintro .main-text{
  font-family: 'Jua';
  line-height: 2.66;
}
  /* Myskill */
.myskill{
  width:26.25%;
}
.myskill .sub-title{
  margin-bottom: 1.2rem;
}
  /* skill-bar */
.skill-bar{
  display: flex;
  flex-direction: column;
}
.status-bar{
  display: flex;
  justify-content: space-between;
  margin:15px 0;
}
.status-bar .skill{
  flex: 0.5;
  text-align: right;
  padding-right: 1rem;
}
.bar{
  flex: 3;
  height: 1.125rem;
  background-color: white;
  margin:3.5px 0;
}
.status{
  background-color: #bcbcbc;
  width: 95%;
  height: 1.125rem;
  z-index: 2;  
}
#javascript{
  width: 90%;
}
#jquery{
  width: 80%;
}
#photoshop, #illustrator{
  width: 87%;
}

/* Myskill-education */
.education{
  margin-right: 30%;
  height: 34vh;
}
.education .sub-text{
  margin: 1rem 0;
}
/* Myskill-certificates */
.certificate{
  height: 40vh;
}
.certificate .sub-text{
  margin: 1rem 0 1.5rem;
}

/* ------------------------------------------------------------------- */

/* MyWork */
.port-box{
  display: flex;
  justify-content: center;
}
.image-box{
  position: relative;
  flex: 5;
  display: flex;
  flex-flow: column wrap;
}
.image-box img{
  width: 100%;
}
.btn-box{
  display: flex;
  justify-content: center;
  position: absolute;
    bottom: 40%;
    left: 50%;
    transform: translateX(-50%);
}
.btn-box a{
  text-align: center;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 3.2rem;
  margin: 0 50px;
}

/* mywork-description */
.description{
  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.description .work-tit{
  flex: 1;
}
.description .work-txt{
  flex: 1;
}
.description .colors{
  flex: 2;
}

.work-tit h3, .colors h3{
  margin-bottom: 1em;
}
.work-txt h3{
  margin-bottom: 1rem;
}
.work-txt p{
  padding-bottom: 1rem;
}
.color-bl-box{
  display: flex;
  text-align: center;
}
.color{
  width: 126px;
  height: 70px;
  margin-right:20px;
}
.color-code{
  margin-top: 0.8rem;
  margin-right: 20px;
}


/* Contact */
#contact .contact-info{
  margin:30px 0;
}
.contact-info li{
  display: flex;
  align-items: center;
  margin-bottom: 1.125rem;
}
.contact-info .main-text{
  color: white;
  margin-right: 2rem;
}
.contact-info li:nth-child(2)>.sub-text{
  padding-left: 8px;
}

#contact .message{
  width: 30%;
  margin-top: 5%;
}
.message input{
  width: 100%;
  text-align: start;
  margin: 25px 0;
  padding: 1rem;
  border-style: inset;
} 
.message input::placeholder{
  color: #333;
  font-size: 1.125rem;
}
.message .send-btn{
  cursor: pointer;
  margin-top: 25px;
  padding: 10px 30px;
  font-size: 1.125rem;
  color: black;
  border: #929292 outset 3px;
  transition: 0.5s;
}

.send-btn:hover{
  background-color: black;
  color: white;
  border: #ccc inset 3px;
}